.profile{
    width:200px;
    display:block;
    margin-left: auto;
    margin-right: auto;
}
.grid{
    display: grid;
    grid-template-columns: 150px 1fr;
}
.tittle{
    font-size: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
h1{
    font-size: 45px;
    text-align:center;
    border-bottom: 3px solid blueviolet;
    margin:0px;
    padding:20px
}
ol{
    border-right: 2px solid blueviolet;
    margin: 0px;
}
@media(max-width:600px){
    .grid{
        display: block;
    }
}

.grid2{
    display:grid;
    grid-template-columns: 1fr 50px 50px;
}